body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
}
/* ======================= NAVBAR SECTION BEGIN =======================*/
.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.header-section {
  background: #f1f3ff;
  margin: 0px;
}

.text-navbar {
  font-family: "Helvetica";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.btn-register {
  height: 35px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

/* ======================= NAVBAR SECTION END =======================*/

/* ======================= HERO SECTION BEGIN =======================*/
.header-hero-section {
  margin-top: 5%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.text-hero-section {
  max-width: 468px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.btn-rent-now {
  width: 140px;
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

.img-car {
  width: 100%;
}
/* ======================= HERO SECTION END =======================*/

/* ======================= SEARCH BOX BEGIN =======================*/
/* Search Box */
.search-box {
  width: auto;
  height: 7rem;
  top: 45%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding-left: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

/* Select Drop Down */
.form-select {
  width: 90%;
  height: 2.5rem;
  font-weight: lighter;
  line-height: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  font-size: 12px;
  color: #8a8a8a;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.form-box {
  margin-top: 1.3rem;
}

select.calendar {
  background-image: url("../img/fi_calendar.png");
  background-size: auto;
}

.calendar-box {
  padding-top: 9px;
}

.calendar-label {
  display: block;
  top: -7px;
  /* padding-bottom: 0.8rem; */
}

div input {
  width: 90%;
  height: 2.5rem;
  font-weight: lighter;
  line-height: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  font-size: 12px;
  color: #8a8a8a;
  background-image: url("../img/fi_calendar.png");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

select.clock {
  background-image: url("../img/fi_clock.png");
  background-size: auto;
}

select.user {
  background-image: url("../img/fi_users.png");
  background-size: auto;
}

.search-container {
  display: flex;
}

.filter-button {
  width: 100%;
  margin-top: 3rem;
  height: 2.7rem;
  background-color: #5cb85f;
}

div label {
  line-height: 18px;
  font-weight: 300;
  color: #3c3c3c;
  font-size: 12px;
  padding-bottom: 5px;
  position: relative;
  top: -4px;
}

/* Car Container */
.car-list-container {
  width: 60%;
}

.car-card {
  margin-top: 5rem;
  height: 90%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
#car-picture {
  max-width: 100%;
  max-height: 100%;
  height: 160px;
  width: 270px;
  margin: 10% 10% 10% 10%;
}

.car-icon {
  height: 20px;
  width: 20px;
}

.icon-wrapper {
  display: inline-flex;
  padding-left: 1.5rem;
  padding-bottom: 1.2rem;
}

.icon-wrapper span {
  padding-left: 0.5rem;
}

div.car-card p:not(:first-child) {
  padding-left: 1.5rem;
}

#choose-car {
  height: 4rem;
  width: 90%;
}

.btn-wrapper {
  text-align: center;
  padding-bottom: 1rem;
}
/* ======================= SEARCH BOX BEGIN  =======================*/

/* ============= FOOTER SECTION BEGIN ==============*/

.footer-section {
  margin-top: 100px;
  margin-bottom: 76px;
}

.alamat,
.email,
.telepon {
  display: block;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.list-navbar-footer {
  list-style: none;
  margin-bottom: 16px;
}

.text-navbar-footer {
  color: #000000;
  text-decoration: none;
  margin: 0px;
}

.list-sosmed {
  display: inline;
  margin: 3px;
  list-style: none;
}

.navbar-footer {
  margin: 0px;
  padding: 0px;
}

.navbar-sosmed {
  margin: 0px;
  padding: 0px;
}
/* ============= FOOTER SECTION END ==============*/ ;
